{template 'header'}
<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/weui.css">
<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/jquery-weui.css">
<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/index.css">

<style>

#scrollDiv{height:40px;line-height:40px;overflow:hidden; background:url({MODULE_URL}/template/mobile/images/icon_notice.png) no-repeat 10px center; background-size: 24px; border-bottom:1px solid #ccc; padding-left: 44px;}
#scrollDiv li{height:40px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.weui-grid__icon {
width: 38px;
height: 38px;
margin: 0 auto;
}

</style>
</head>

  <body ontouchstart="">

    <div class="swiper-container swiper-container-horizontal" style="width: 100%">
      <!-- Additional required wrapper -->
    <div class="swiper-wrapper" >
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width:100%;height:25%"><img src="{MODULE_URL}/template/mobile/images/1.jpg"></div>
        <!-- Slides -->
        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width:100%;"><img src="{MODULE_URL}/template/mobile/images/1.jpg"></div>
        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width:100%;"><img src="{MODULE_URL}/template/mobile/images/2.jpg"></div>
        <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width:100%;"><img src="{MODULE_URL}/template/mobile/images/3.jpg"></div>
     

    </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
    </div>

	<div id="scrollDiv">
	  <ul>
		<li>{$shop['area_name']}</li>
		<!-- <li>一恒快递手知通<a href="">链接测试</a></li> -->
		<!-- <li>一恒快递手知通</li> -->
	  </ul>
	</div> 

        <div class="weui-grids"> 


         <a href="{php echo $this->createMobileUrl('express_sendmsg')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="{MODULE_URL}/template/mobile/images/icons/icon_express_sendmsg.png" alt="">
            </div>
            <p class="weui-grid__label">快递入库</p>
        </a>
		
		
         <a href="{php echo $this->createMobileUrl('express_outgoing')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="{MODULE_URL}/template/mobile/images/icons/icon_express_sendmsg.png" alt="">
            </div>
            <p class="weui-grid__label">快递出库</p>
        </a>
		
		<a href="{php echo $this->createMobileUrl('express_send_log')}" class="weui-grid">
            <div class="weui-grid__icon">
                 <img src="{MODULE_URL}/template/mobile/images/icons/icon_express_send_log.png" alt="">
            </div>
            <p class="weui-grid__label">发送记录</p>
        </a>
      

       <!-- <a href="{php echo $this->createMobileUrl('stock_list')}" class="weui-grid"> -->
            <!-- <div class="weui-grid__icon"> -->
                 <!-- <img src="{MODULE_URL}/template/mobile/images/icons/icon_stock_list.png" alt=""> -->
            <!-- </div> -->
            <!-- <p class="weui-grid__label">存件列表</p> -->
        <!-- </a> -->

       <a href="{php echo $this->createMobileUrl('retention_list')}" class="weui-grid">
            <div class="weui-grid__icon">
                 <img src="{MODULE_URL}/template/mobile/images/icons/icon_retention_list.png" alt="">
            </div>
            <p class="weui-grid__label">滞留列表</p>
        </a>

        
 
          
     <a href="{php echo $this->createMobileUrl('express_query')}" class="weui-grid">
            <div class="weui-grid__icon">
                  <img src="{MODULE_URL}/template/mobile/images/icons/icon_express_search.png" alt="">
            </div>
            <p class="weui-grid__label">快件查询</p>
        </a>

          <a href="{php echo $this->createMobileUrl('statistics')}" class="weui-grid">
            <div class="weui-grid__icon">
                  <img src="{MODULE_URL}/template/mobile/images/icons/icon_statistics.png" alt="">
            </div>
            <p class="weui-grid__label">报表统计</p>
        </a>

         <a href="{php echo $this->createMobileUrl('tel_list')}" class="weui-grid">
            <div class="weui-grid__icon">
                  <img src="{MODULE_URL}/template/mobile/images/icons/icon_users.png" alt="">
            </div>
            <p class="weui-grid__label">用户管理</p>
        </a>

       

        <a href="{php echo $this->createMobileUrl('send_express')}" class="weui-grid">
            <div class="weui-grid__icon">
                  <img src="{MODULE_URL}/template/mobile/images/icons/icon_statistics.png" alt="">
            </div>
            <p class="weui-grid__label">我要寄件</p>
        </a>


      <!-- <a href="{php echo $this->createMobileUrl('atest')}" class="weui-grid"> -->
            <!-- <div class="weui-grid__icon"> -->
                 <!-- <img src="{MODULE_URL}/template/mobile/images/icons/icon_none_user3.png" alt=""> -->
            <!-- </div> -->
            <!-- <p class="weui-grid__label">短信测试</p> -->
        <!-- </a> -->

        <!-- 
       <a href="{php echo $this->createMobileUrl('wait_pickup')}" class="weui-grid">
            <div class="weui-grid__icon">
                 <img src="{MODULE_URL}/template/mobile/images/icons/icon_wait_pickup.png" alt="">
            </div>
            <p class="weui-grid__label">快递跟踪</p>
        </a>

        
        <a href="{php echo $this->createMobileUrl('register')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="{MODULE_URL}/template/mobile/images/icons/icon_register.png" alt="">
            </div>
            <p class="weui-grid__label">手机绑定</p>
        </a>
       
       <a href="{php echo $this->createMobileUrl('home')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="{MODULE_URL}/template/mobile/images/christmas_gift.png" alt="">
            </div>
            <p class="weui-grid__label">收件记录</p>
        </a>
       
       <a href="{php echo $this->createMobileUrl('')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="{MODULE_URL}/template/mobile/images/icon_1.png" alt="">
            </div>
            <p class="weui-grid__label">寄件记录</p>
        </a>

        <a href="{php echo $this->createMobileUrl('express_ordertraces')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="{MODULE_URL}/template/mobile/images/icon_2.png" alt="">
            </div>
            <p class="weui-grid__label">快递跟踪</p>
        </a>


         <a href="{php echo $this->createMobileUrl('express_send')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="{MODULE_URL}/template/mobile/images/icon_6.png" alt="">
            </div>
            <p class="weui-grid__label">预约寄件</p>
        </a> 

       


          <a href="{php echo $this->createMobileUrl('')}" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="{MODULE_URL}/template/mobile/images/icon_5.png" alt="">
            </div>
            <p class="weui-grid__label">收件记录</p>
        </a>
        
       
        
   <a href="{php echo $this->createMobileUrl('manage')}" class="weui-grid"> 
          <div class="weui-grid__icon"> 
                 <img src="{MODULE_URL}/template/mobile/images/icon_manage.png" alt=""> 
            </div> 
            <p class="weui-grid__label">权限管理</p>
         </a>  
          




    </div>

  <script src="http://jqweui.com/dist/lib/jquery-2.1.4.js"></script>
 
  <script src="{MODULE_URL}/template/mobile/js/jquery.min.js"></script>
  <script src="http://jqweui.com/dist/js/jquery-weui.js"></script>
  <script src="http://jqweui.com/dist/js/swiper.js"></script>

  <script>
      $(".swiper-container").swiper({
        loop: true,
        autoplay: 3500
      });
    </script>
  <script>
     function AutoScroll(obj){
        $(obj).find("ul:first").animate({
            marginTop:"-40px"
        },500,function(){
            $(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
        });
    }
    $(document).ready(function(){
        setInterval('AutoScroll("#scrollDiv")',5000);
    });
</script>
<div style="height: 55px;display: block;"></div> -->
{template 'footer'}
</body></html>

