{template 'header'}


<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
<link href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet">
<div class="weui-tab">
  <div class="weui-navbar">
    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
      我的取件
    </a>
     <a class="weui-navbar__item " href="#tab2"  >
          待发列表
    </a>
  </div>
  
   
  <div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
      {loop $list $list}
		<div class="weui-form-preview">
			<div class="weui-form-preview__hd">
			<label class="weui-form-preview__label">验证码</label>
				<em class="weui-form-preview__value ">{$list['recoder_code']}</em>
			</div>
			<div class="weui-form-preview__bd">
			<div class="weui-form-preview__item">
			<label class="weui-form-preview__label">快单单号</label>
			<span class="weui-form-preview__value">{$list['recoder_express_id']}</span>
			</div>
			<div class="weui-form-preview__item">
			<label class="weui-form-preview__label">货号</label>
			 <span class="weui-form-preview__value">{$list['recoder_shelves']}-{$list['recoder_goods_num']}</span>
			</div>
			<div class="weui-form-preview__item">
			<label class="weui-form-preview__label">发送时间</label>
			<span class="weui-form-preview__value">{php echo date('Y-m-d H:i:s', $list['recoder_create']); }</span>
			</div>
			</div>
			<div class="weui-form-preview__ft">
			<span class="weui-form-preview__btn weui-form-preview__btn_default" >{if ($list['wait_get_status']==1)}已收货{else}{/if}</span>
			
			{if ($list['wait_get_status']!=1)}<a class="weui-form-preview__btn weui-form-preview__btn_primary" href="{php echo $this->createMobileUrl('wait_pickup',array('act' =>'check','id' => $list['wait_id']))}">确认收货</a>{else}{/if}

			</div>
		</div>


		

	  {/loop}
	  
	  
	  
	  
    </div>
    <div id="tab2" class="weui-tab__bd-item">
      <div class="weui-cells">
			<div class="weui-cell weui-cell_vcode">
				    <div class="weui-cell__hd">
				      <label class="weui-label">快递单号</label>
				    </div>
				    <div class="weui-cell__bd">
				  <input class="weui-input" type="number" id="express_no" value="" placeholder="请输入快递单号" ">
				    </div>
				    <div class="weui-cell__ft">
				    <button class="weui-vcode-btn" onclick="checkin()">单号入库</button>
				    </div>
			    </div>
	</div>
	  	 <div class="weui-cells" id="wait_express_list">
				  {loop $wait_list $wait_list}
						 
					  <div class="weui-cell weui-cell_access" id="list{$wait_list['wait_id']}" onclick="del({$wait_list['wait_id']})">
						<div class="weui-cell__bd"> 
						
					      <p>{$wait_list['wait_express_no']}</p>
					    </div>
					    <div class="weui-cell__ft">暂未到站 </div>
					  </div>

				 {/loop}  
	  
	</div>  
	  
	  
	  
	  
	  
	  
    </div>
   
  </div>
</div>

<script type="text/javascript">
	
function checkin()
{

var express_no=$("#express_no").val();

if (express_no=="" || express_no.length<10 || express_no.length>16)
{
	alert("快递单号不正确！")
	return false;

}


 

 $.post("{php echo $this->createMobileUrl('wait_pickup')}", {"act":'addnew',"express_no":express_no}, 
												function(data) 
												{	

													if (data.success==0)
													{
														$.toast("快递跟踪已超过数量!","text");	
														return false;
														// $.toast(data.express_no,"text");	
													}
													if (data.success==2)
													{
														$.toast("快递已到站，请查看我的取件!","text");	
														return false;
														// $.toast(data.express_no,"text");	
													}
													if (data.success==3)
													{
														$.toast("记录已存在!","text");	
														return false;
														// $.toast(data.express_no,"text");	
													}

													if (data.success==1)
													{
														$("#wait_express_list").prepend(

														"<div class=\"weui-cell weui-cell_access\" id=\"list"+data.resultid+"\" onclick=\"del("+data.resultid+")\"><div class=\"weui-cell__bd\" >"+express_no+"</div> <div class=\"weui-cell__ft\">暂未到站</div></div>");
														// $.toast(data.express_no,"text");	
													}
													
												}, "json");

}



</script>


<script>
function del(value)
{

 $.actions({
          title: "选择操作",
          onClose: function() {
            console.log("close");
          },
          actions: [
           
            {
              text: "删除",
              className: 'color-danger',
              onClick: function() {
            
 
			  $.post("{php echo $this->createMobileUrl('wait_pickup')}", {"act":"del","id":value}, 
		
				function(data){
				
				if (data.success==1)
				{
				  $("div").remove("#list"+value);
				}  

				}, "json");
			   
			   
				  
				  
              }
            }
          ]
        });
}

</script>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="http://jqweui.com/dist/lib/fastclick.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>