 {template 'pc/pc_header'}
<body>

    <div id="wrapper">

    {template 'pc/pc_main_left'}

        <div id="page-wrapper" class="gray-bg">
        {template 'pc/pc_main_top'}
        {template 'pc/pc_page_nav'}
           
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>头像</th>
                                        <th>加入时间 </th>
                                        <th>是否关注 </th>
                                        <th>昵称</th>
                                        <th>真实姓名</th>
                                        <th>最后访问时间</th>
                                        <th>手机</th>
                                        <th>禁止原因</th>
                                        <th>操作</th>

                                    </thead>
                                    <tbody>
                                     {loop $mlist $mlist}
                                    <tr>
                                        <td>
                                        <img  class="img-circle img-sm"  src="{$mlist['m_avatar']}">
                                        </td>
                                        <td><small>{php echo date("Y-m-d H:i",$mlist['m_addtime'])}</small></td>
                                         
                                         <td><small>{if $mlist['m_follow'] ==1}关注{else}未关注{/if}</small></td>
                                          <td><small>{$mlist['m_nickname']}</small></td>
                                          <td><small>{$mlist['m_realname']}</small></td>
                                            <td><small>{php echo date("Y-m-d H:i",$mlist['m_visit_lasttime'])}</small></td>
                                        <td><small>{$mlist['m_tel']}</small></td>
                                         <td><small>{$mlist['m_remark']}</small></td>
                                      <td >
                                            <a href="{php echo $this->createWebUrl('pc_member_edit',array('act' =>'edit','id' =>$mlist['bind_m_uid']))}"><button class=" btn btn-primary btn-xs ">编辑</button></a>

                                             <!-- <a href="{php echo $this->createWebUrl('pc_member_list',array('act' =>'cancel','id' =>$mlist['id']))}" onclick="return confirm('确认不显示该用户吗？');return false;" class="btn btn-danger btn-xs" >置底</a> -->

                                           
                                         </td>
                                    </tr>
                                    {/loop}

                                    </tbody>

                                </table>

                            </div>
                            

                        </div>
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">Next</a></li></ul></div>
                    </div>


                </div>

            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2017
            </div>
        </div>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="{MODULE_URL}/template/pc/js/jquery-3.1.1.min.js"></script>
    <script src="{MODULE_URL}/template/pc/js/bootstrap.min.js"></script>
    <script src="{MODULE_URL}/template/pc/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{MODULE_URL}/template/pc/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="{MODULE_URL}/template/pc/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="{MODULE_URL}/template/pc/js/inspinia.js"></script>
    <script src="{MODULE_URL}/template/pc/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="{MODULE_URL}/template/pc/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="{MODULE_URL}/template/pc/js/demo/peity-demo.js"></script>

    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

</body>

</html>
