 {template 'pc/pc_header'}
<body>

    <div id="wrapper">

    {template 'pc/pc_main_left'}

        <div id="page-wrapper" class="gray-bg">
        {template 'pc/pc_main_top'}
        {template 'pc/pc_page_nav'}
           
        <div class="wrapper wrapper-content animated fadeInRight">
		
		
            <div class="mail-box-header">
				 <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
						 <a href="{php echo $this->createWebUrl('pc_member_list',array('act' =>'export'))}" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> 导出</a>
                    </div>
                </form>
              
                <h2>
                    用户信息管理
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <!-- <div class="btn-group pull-right"> -->
                        <!-- <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button> -->
                        <!-- <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button> -->

                    <!-- </div> -->
				<div class="row">
				<form method="POST" name="form1" id="form1" >
					<div class="col-lg-12"> 
						<div class="col-lg-3">
							<input type="text" class="form-control input-sm" name="u_name" placeholder="请输入姓名">
						</div>
						<div class="col-lg-3">
							<input type="text" class="form-control input-sm" name="u_tel" placeholder="请输入电话">
						</div> 
						<div class="col-lg-3" >
							<div class="pull-right mail-search">
								<div class="input-group">
									<!-- <input type="text" class="form-control input-sm" name="search" placeholder="Search email"> -->
									<div class="input-group-btn">
										<input type="submit" name="search" value="查找" class="btn btn-sm btn-primary">
										
										
										<input type="hidden" name="token" value="{$_W['token']}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				</div>	
				
						
					  
                    <!-- <a href="{php echo $this->createWebUrl('pc_member_list',array('act' =>'export'))}" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> 导出</a> -->
                    <!-- <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button> -->
                    <!-- <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button> -->
                    <!-- <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button> -->

                </div>
            </div> 
        
		
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>头像</th>
                                        <th>加入时间 </th>
                                        <th>是否关注 </th>
                                        <th>昵称</th>
                                        <th>真实姓名</th>
                                        <th>最后访问时间</th>
                                        <th>手机</th>
                                        <th>操作</th>

                                    </thead>
                                    <tbody>
                                     {loop $mlist $mlist}
                                    <tr>
                                        <td>
                                        <img  class="img-circle img-sm"  src="{$mlist['m_avatar']}">
                                        </td>
                                        <td><small>{php echo date("Y-m-d H:i",$mlist['bind_time'])}</small></td>
                                         
                                         <td>{if $mlist['m_follow'] ==1}<small class="label label-success pull-left">关注</small>{else}<small class="label label-warning pull-left">未关注</small>{/if}</td>
                                          <td><small>{$mlist['m_nickname']}</small></td>
                                          <td><small>{$mlist['m_realname']}</small></td>
                                        <td><small>{php echo date("Y-m-d H:i",$mlist['m_visit_lasttime'])}</small></td>
                                        <td><small>{$mlist['m_tel']}</small></td>
                                      <td >
									  
											{if $search==1}
                                            <a href="{php echo $this->createWebUrl('pc_member_edit',array('act' =>'edit','id' =>$mlist['m_uid']))}"><button class=" btn btn-primary btn-xs ">编辑</button></a>
											{else}
											 <a href="{php echo $this->createWebUrl('pc_member_edit',array('act' =>'edit','id' =>$mlist['bind_m_uid']))}"><button class=" btn btn-primary btn-xs ">编辑</button></a>
											{/if}
                                             <!-- <a href="{php echo $this->createWebUrl('pc_member_list',array('act' =>'cancel','id' =>$mlist['id']))}" onclick="return confirm('确认不显示该用户吗？');return false;" class="btn btn-danger btn-xs" >置底</a> -->

                                           
                                         </td>
                                    </tr>
                                    {/loop}

                                    </tbody>

                                </table>

                            </div>
                            

                        </div>
                        {$pager}
                    </div>


                </div>

            </div>
        </div>
      
		{template 'pc/pc_footer'}
      

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="{MODULE_URL}/template/pc/js/jquery-3.1.1.min.js"></script>
    <script src="{MODULE_URL}/template/pc/js/bootstrap.min.js"></script>
    <script src="{MODULE_URL}/template/pc/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{MODULE_URL}/template/pc/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="{MODULE_URL}/template/pc/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="{MODULE_URL}/template/pc/js/inspinia.js"></script>
    <script src="{MODULE_URL}/template/pc/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="{MODULE_URL}/template/pc/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="{MODULE_URL}/template/pc/js/demo/peity-demo.js"></script>

    <script>
	
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

</body>

</html>
